.sizeEmploy{
    max-width: 100%;
    height: auto !important;;
    margin: autob;

}

.menuProFile{
   max-width: 50%;
   max-height: 50%;
}
.testp {
    transform: translate(790px,250px);
    font-size:120%;
}

